SOATest/Service References/ProxyCliente/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioSOA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioSOA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Cliente" type="xs:int" />
      <xs:element minOccurs="0" name="Dir_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:short" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel_Cliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEntidad" nillable="true" type="tns:ClienteEntidad" />
  <xs:complexType name="ArrayOfClienteEntidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteEntidad" nillable="true" type="tns:ClienteEntidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteEntidad" nillable="true" type="tns:ArrayOfClienteEntidad" />
</xs:schema>